@model CMS.Areas.Admin.ViewModels.ArticlesDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(x => x.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(x => x.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(x => x.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(x => x.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(x => x.ContentText)
        </dt>

        <dd>
            @Html.DisplayFor(x => x.ContentText)
        </dd>

        <dt>
            @Html.DisplayNameFor(x => x.Image)
        </dt>

        <dd>
            @if (!string.IsNullOrEmpty(Model.Image))
            {
                <img src="@(Url.Content("~/FileUploads/") + Html.DisplayFor(x => x.Image))" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(x => x.CreateUser)
        </dt>

        <dd>
            @Html.DisplayFor(x => x.CreateUser)
        </dd>
    </dl>
</div>